<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon aria-hidden="false" aria-label="Expand sidenav">menu</mat-icon>
    </button>

    <a class="title" href="/">{{ title }}</a>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="sideNavOpen" mode="push">
        <button mat-button class="menu-button" [routerLink]="['/']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <mat-divider></mat-divider>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="menu-button" >
                <mat-icon>groups</mat-icon>
                <span>Users</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="menu-button" [routerLink]="['/']">
                <mat-icon>manage_accounts</mat-icon>
                <span>List</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['new']">
                <mat-icon>person_add</mat-icon>
                <span>Add</span>
            </button>
          </mat-expansion-panel>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
            <router-outlet *ngIf="!isIframe"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
